 .bg {
    /* The image used */
    background-image: url("img/background.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .portfolio-grid.work-4col li, .blog-grid.blog-4col li {
      width: 33.3% !important; 
  }